<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('includes/head', {title: "Detalle de cliente"}) %>
    <link rel="stylesheet" href="./styles/client-detail.css">
  </head>
  <body>
    <main>
      <form action="#" method="POST">
            <%- include('parte-actora') %>
            <%- include('parte-demandada') %>
            <%- include('honorarios') %>
            <%- include('datos-matrimonio') %>
            <%- include('escritos') %>
            <%- include('comprobante') %>      
            <%- include('botones-generadores') %>
      </form>
    </main>
  </body>
</html>