<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('includes/head', {title: "Detalle de cliente"}) %>
    <link rel="stylesheet" href="./styles/client-detail.css">
  </head>
  <body>
    <main>
      <form action="#" method="POST">
            <%- include('client-detail/parte-actora') %>
            <%- include('client-detail/parte-demandada') %>
            <%- include('client-detail/honorarios') %>
            <%- include('client-detail/datos-matrimonio') %>
            <%- include('client-detail/escritos') %>
            <%- include('client-detail/comprobante') %>      
            <%- include('client-detail/botones-generadores') %>
      </form>
    </main>
  </body>
</html>